---
import '../../styles/tokens.css';
import SEO from '../atoms/SEO.astro'; // Import SEO component

/**
 * Definiert die Eigenschaften für das BasisLayout.
 */
interface Props {
	/** Der Titel der Seite, der an die SEO-Komponente weitergegeben wird. */
	title: string;
	/** Die Beschreibung der Seite, die an die SEO-Komponente weitergegeben wird. */
	description?: string;
	/** Das Vorschaubild der Seite für Social Media, an die SEO-Komponente weitergegeben. */
	image?: string;
	/** Der Typ des Inhalts für Social Media, an die SEO-Komponente weitergegeben (z.B. 'website', 'article'). */
	type?: 'website' | 'article';
}

const { title, description, image, type } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description={description || "Eine persönliche Webseite von Jacqueline Franz über Webentwicklung und Blogbeiträge."}
			image={image}
			type={type}
		/>
		<style is:global>
			/* CSS Reset und grundlegende Stile */

			html {
				box-sizing: border-box;
				font-size: 16px;
			}

			*, *::before, *::after {
				box-sizing: inherit;
			}

			body {
				margin: 0;
				padding: 0;
				font-family: var(--schriftart-standard);
				line-height: var(--linienhoehe-standard);
				color: var(--textfarbe);
				background-color: var(--hintergrundfarbe);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			/* Grundlegende Typografie */
			h1, h2 {
				margin-top: var(--abstand-ueberschrift-oben);
				margin-bottom: var(--abstand-ueberschrift-unten);
				line-height: var(--linienhoehe-ueberschrift);
				color: var(--textfarbe); /* Kann später angepasst werden */
			}

			h1 {
				font-size: var(--schriftgroesse-h1-mobil);
			}

			h2 {
				font-size: var(--schriftgroesse-h2-mobil);
			}

			p {
				margin-top: 0;
				margin-bottom: var(--abstand-absatz-unten);
			}

			a {
				color: var(--primärfarbe);
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}

			main {
				max-width: var(--seitenbreite-max);
				margin: var(--abstand-main-vertikal-mobil) auto;
				padding: 0 var(--padding-main-horizontal);
			}

			section {
				margin-bottom: var(--abstand-sektion-unten);
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			li {
				margin-bottom: var(--abstand-listenelement-unten);
			}

			/* Responsives Design - Mobile First */
			@media (min-width: var(--breakpoint-md)) {
				h1 {
					font-size: var(--schriftgroesse-h1-desktop);
				}
				h2 {
					font-size: var(--schriftgroesse-h2-desktop);
				}
				main {
					margin: var(--abstand-main-vertikal-desktop) auto;
				}
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>