---
import BasisLayout from '../components/templates/BasisLayout.astro';
---

<BasisLayout titel="Seite nicht gefunden (404)" beschreibung="Die angeforderte Seite konnte nicht gefunden werden.">
  <main>
    <section>
      <h1>404 - Seite nicht gefunden</h1>
      <p>Es tut uns leid, aber die Seite, die Sie suchen, existiert nicht oder wurde verschoben.</p>
      <p>Bitte überprüfen Sie die URL oder kehren Sie zur Startseite zurück.</p>
      <a href="/">Zur Startseite</a>
    </section>
  </main>
</BasisLayout>