---
import BasisLayout from '../components/templates/BasisLayout.astro';
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import Absatz from '../components/atoms/Absatz.astro';
import Link from '../components/atoms/Link.astro';
---

<BasisLayout title="Seite nicht gefunden (404)" description="Die angeforderte Seite konnte nicht gefunden werden.">
  <main>
    <section>
      <Ueberschrift1>404 - Seite nicht gefunden</Ueberschrift1>
      <Absatz>Es tut uns leid, aber die Seite, die Sie suchen, existiert nicht oder wurde verschoben.</Absatz>
      <Absatz>Bitte überprüfen Sie die URL oder kehren Sie zur Startseite zurück.</Absatz>
      <Link href="/">Zur Startseite</Link>
    </section>
  </main>
</BasisLayout>