---
import BasisLayout from '../components/templates/BasisLayout.astro';
import HauptNavigation from '../components/organisms/HauptNavigation.astro';
---

<BasisLayout titel="Arbeit">
    <HauptNavigation />
    <main>
        <h1>Arbeit</h1>
        <p>Hier wird das aktuelle Projekt vorgestellt und Work-in-Progress gezeigt.</p>
        <h2>Aktuelles Projekt</h2>
        <p>Beschreibung des aktuellen Projekts.</p>
        <h2>Prozess-Dokumentation</h2>
        <p>"Behind the Scenes" meiner Apps, technische Challenges & Lösungen.</p>
    </main>
</BasisLayout>
