---
import BasisLayout from '../components/templates/BasisLayout.astro';
import HauptNavigation from '../components/organisms/HauptNavigation.astro';
---

<BasisLayout titel="Blog">
    <HauptNavigation />
    <main>
        <h1>Blog / Updates</h1>
        <p>Dies ist das Herzstück der Website, wo "Show Your Work" Posts, Lernfortschritte und Stories geteilt werden.</p>
        <h2>Neueste Beiträge</h2>
        <ul>
            <li><a href="#">Mein erster Beitrag zur Webentwicklung</a></li>
            <li><a href="#">Heute gelernt: Astro Komponenten</a></li>
            <li><a href="#">Hinter den Kulissen von Franz Labs</a></li>
        </ul>
    </main>
</BasisLayout>
