---
import BasisLayout from '../components/templates/BasisLayout.astro';
import HauptNavigation from '../components/organisms/HauptNavigation.astro';
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import Ueberschrift2 from '../components/atoms/Ueberschrift2.astro';
import BlogpostVorschau from '../components/molecules/BlogpostVorschau.astro';
---

<BasisLayout titel="Blog">
    <HauptNavigation />
    <main>
        <Ueberschrift1 inhalt="Blog / Updates" />
        <Ueberschrift2 inhalt="Neueste Beiträge" />
        <ul>
            <BlogpostVorschau titel="Mein erster Beitrag zur Webentwicklung" url="#" />
            <BlogpostVorschau titel="Heute gelernt: Astro Komponenten" url="#" />
            <BlogpostVorschau titel="Hinter den Kulissen von Franz Labs" url="#" />
        </ul>
    </main>
</BasisLayout>