---
import BasisLayout from '../components/templates/BasisLayout.astro'; // Adjust path if BasisLayout moves
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import BlogpostVorschau from '../components/molecules/BlogpostVorschau.astro';
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
allBlogPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BasisLayout
  title="Alle Blogposts"
  description="Entdecke die neuesten Blogposts von Jacqueline Franz zu Webentwicklung, Astro und digitalen Themen."
  type="website"
>
  <main>
    <Ueberschrift1 inhalt="Alle Blogposts" />
    <ul>
      {allBlogPosts.map(post => (
        <BlogpostVorschau titel={post.data.title} url={`/blog/${post.slug}`} />
      ))}
    </ul>
  </main>
</BasisLayout>
