---
import BasisLayout from '../components/templates/BasisLayout.astro';
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import Absatz from '../components/atoms/Absatz.astro';
---

<BasisLayout titel="Datenschutz">
    <main>
        <Ueberschrift1>Datenschutzerklärung</Ueberschrift1>
        <Absatz>
            Dies ist eine Platzhalter-Seite für die Datenschutzerklärung. Hier sollte der rechtlich notwendige Text gemäß DSGVO stehen.
        </Absatz>
        <Absatz>
            Da dies eine persönliche Webseite ist, kläre bitte ab, welche spezifischen Punkte hier aufgeführt werden müssen (z.B. Hosting, Log-Files, Cookies, etc.).
        </Absatz>
    </main>
</BasisLayout>