---
import BasisLayout from '../components/templates/BasisLayout.astro';
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import Ueberschrift2 from '../components/atoms/Ueberschrift2.astro';
import Absatz from '../components/atoms/Absatz.astro';
import EmailLink from '../components/molecules/EmailLink.astro';
---

<BasisLayout titel="Impressum">
    <main>
        <Ueberschrift1>Impressum</Ueberschrift1>

        <Ueberschrift2>Angaben gemäß § 5 DDG und verantwortlich nach § 18 Abs. 2 MStV</Ueberschrift2>
        <Absatz>
            Jacqueline Franz<br />
            Rosenstr. 9<br />
            54578 Oberbettingen<br />
            Deutschland
        </Absatz>

        <Ueberschrift2>Kontakt</Ueberschrift2>
        <EmailLink email="hi@jacquelinefranz.de"/>
    </main>
</BasisLayout>
