---
import BasisLayout from '../components/templates/BasisLayout.astro';
import Ueberschrift1 from '../components/atoms/Ueberschrift1.astro';
import Ueberschrift2 from '../components/atoms/Ueberschrift2.astro';
import Absatz from '../components/atoms/Absatz.astro';
---

<BasisLayout titel="Impressum">
    <main>
        <Ueberschrift1>Impressum</Ueberschrift1>

        <Ueberschrift2>Angaben gemäß § 5 DDG und verantwortlich nach § 18 Abs. 2 MStV</Ueberschrift2>
        <Absatz>
            [Vorname] [Nachname]<br />
            [Straße] [Hausnummer]<br />
            [PLZ] [Ort]
        </Absatz>

        <Ueberschrift2>Kontakt</Ueberschrift2>
        <Absatz>
            E-Mail: [E-Mail-Adresse]
        </Absatz>
    </main>
</BasisLayout>
