---
import BasisLayout from '../components/templates/BasisLayout.astro';
import EmailLink from '../components/molecules/EmailLink.astro';
---

<BasisLayout titel="Impressum">
        <h1>Impressum</h1>

        <h2>Angaben gemäß § 5 DDG und verantwortlich nach § 18 Abs. 2 MStV</h2>
        <p>
            Jacqueline Franz<br />
            Rosenstr. 9<br />
            54578 Oberbettingen<br />
            Deutschland
        </p>

        <h2>Kontakt</h2>
        <EmailLink email="hi@jacquelinefranz.de"/>
</BasisLayout>
