---
import BasisLayout from "../components/templates/BasisLayout.astro";
import IntroSektion from "../components/organisms/IntroSektion.astro";
import UeberMichSektion from "../components/organisms/UeberMichSektion.astro";
import NeuesteBlogpostsSektion from "../components/organisms/NeuesteBlogpostsSektion.astro";
import KontaktSektion from "../components/organisms/KontaktSektion.astro";
import SocialMediaLink from "../components/molecules/SocialMediaLink.astro";
---

<BasisLayout
  title="Jacqueline Franz - Deine digitale Heimat"
  description="Die persönliche Webseite von Jacqueline Franz, bekannt als @digitalerPanda. Hier teilt sie ihren Lernprozess in Webentwicklung und hilft anderen, ihre digitalen Ideen umzusetzen."
  type="website"
>
  <main>
    <IntroSektion />
    <UeberMichSektion />
    <NeuesteBlogpostsSektion />
    <KontaktSektion email="hallo@jacquelinefranz.de">
      <SocialMediaLink
        icon="GH"
        href="https://github.com/your-username"
        text="GitHub"
      />
      <SocialMediaLink
        icon="LI"
        href="https://linkedin.com/in/your-username"
        text="LinkedIn"
      />
    </KontaktSektion>
  </main>
</BasisLayout>