---
import BasisLayout from "../components/templates/BasisLayout.astro";
import HauptNavigation from "../components/organisms/HauptNavigation.astro";
import IntroSektion from "../components/organisms/IntroSektion.astro";
import UeberMichSektion from "../components/organisms/UeberMichSektion.astro";
import NeuesteBlogpostsSektion from "../components/organisms/NeuesteBlogpostsSektion.astro";
import KontaktSektion from "../components/organisms/KontaktSektion.astro";
---

<BasisLayout
  title="Jacqueline Franz - Deine digitale Heimat"
  description="Die persönliche Webseite von Jacqueline Franz, bekannt als @digitalerPanda. Hier teilt sie ihren Lernprozess in Webentwicklung und hilft anderen, ihre digitalen Ideen umzusetzen."
  type="website"
>
  <HauptNavigation />
  <main>
    <IntroSektion />
    <UeberMichSektion />
    <NeuesteBlogpostsSektion />
    <KontaktSektion />
  </main>
</BasisLayout>