---
import BasisLayout from "../components/templates/BasisLayout.astro";
import HauptNavigation from "../components/organisms/HauptNavigation.astro";
import IntroSektion from "../components/organisms/IntroSektion.astro";
import UeberMichSektion from "../components/organisms/UeberMichSektion.astro";
import NeuesteBlogpostsSektion from "../components/organisms/NeuesteBlogpostsSektion.astro";
import KontaktSektion from "../components/organisms/KontaktSektion.astro";
---

<BasisLayout titel="Jacqueline Franz - Deine digitale Heimat">
  <HauptNavigation />
  <main>
    <IntroSektion />
    <UeberMichSektion />
    <NeuesteBlogpostsSektion />
    <KontaktSektion />
  </main>
</BasisLayout>