---
import LandingLayout from "../components/templates/LandingLayout.astro";
import HeroSektion from "../components/organisms/HeroSektion.astro";
import UeberMichSektion from "../components/organisms/UeberMichSektion.astro";
import NeuesteBlogpostsSektion from "../components/organisms/NeuesteBlogpostsSektion.astro";
---

<LandingLayout
  titel="Jacqueline Franz - Deine digitale Heimat"
  beschreibung="Die persönliche Webseite von Jacqueline Franz, bekannt als @digitalerPanda. Hier teilt sie ihren Lernprozess in Webentwicklung und hilft anderen, ihre digitalen Ideen umzusetzen."
  typ="website"
>
    <HeroSektion />
    
    <div class="container">
        <UeberMichSektion />
        <NeuesteBlogpostsSektion />
    </div>
</LandingLayout>
