---
import BasisLayout from '../components/templates/BasisLayout.astro';
import HauptNavigation from '../components/organisms/HauptNavigation.astro';
---

<BasisLayout titel="Über mich">
    <HauptNavigation />
    <main>
        <h1>Über mich</h1>
        <p>Hier kommt der Inhalt über Jacqueline Franz und ihre Geschichte, Mission, etc.</p>
        <h2>Ich bin Amateur und stolz darauf</h2>
        <p>"Der Amateur - der Enthusiast, der seiner Tätigkeit mit Hingabe nachgeht - hat durchaus Vorteile. Weil der Amateur nicht viel zu verlieren hat, probiert er mehr aus und teilt seine Erkenntnisse mit anderen."</p>
        <h2>Meine Mission</h2>
        <p>Woran ich gerade arbeite, was ich lernen will und was ich teilen möchte.</p>
    </main>
</BasisLayout>
