---
/**
 * Definiert die Eigenschaften für die Absatz-Komponente.
 */
interface Props {
    // Props könnten hier definiert werden, falls benötigt. Aktuell werden nur Slots verwendet.
}
---

<p><slot /></p>
