---
/**
 * Definiert die Eigenschaften für die Absatz-Komponente.
 */
interface Props {
    /** Der Textinhalt des Absatzes. */
    inhalt: string;
}

const { inhalt } = Astro.props;
---

<p>{inhalt}</p>
