---
interface Props {
  /** Größe des Blobs */
  size?: 'sm' | 'md' | 'lg' | 'xl';
  /** Farbe des Blobs (CSS-Variable oder hex) */
  color?: string;
  /** Aktiviert Animation */
  animated?: boolean;
  /** CSS-Klasse für das Wrapper-Element */
  class?: string;
}

const {
  size = 'md',
  color = 'var(--color-primary)',
  animated = false,
  class: className
} = Astro.props;

// Größen-Mapping
const sizeMap = {
  sm: '8rem',
  md: '12rem',
  lg: '16rem',
  xl: '24rem'
};
---

<div
  class:list={['blob-decoration', animated && 'blob-decoration--animated', className]}
  style={`--blob-size: ${sizeMap[size]}; --blob-color: ${color};`}
>
  <svg
    viewBox="0 0 200 200"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <path
      fill="currentColor"
      d="M44.7,-76.4C58.8,-69.2,71.8,-59.1,79.6,-45.8C87.4,-32.6,90,-16.3,88.5,-0.9C87,14.6,81.4,29.2,73.1,42.8C64.8,56.4,53.8,69,39.8,76.8C25.8,84.6,8.8,87.6,-7.2,86.4C-23.2,85.2,-38.4,79.8,-51.6,71.2C-64.8,62.6,-76,50.8,-82.8,36.4C-89.6,22,-92,5,-88.4,-10.8C-84.8,-26.6,-75.2,-41.2,-62.8,-48.8C-50.4,-56.4,-35.2,-57,-20.8,-64.2C-6.4,-71.4,7.2,-84.2,20.8,-88.6C34.4,-93,48,-88.8,58.8,-81.6C69.6,-74.4,77.6,-64.2,80.4,-52.8C83.2,-41.4,81,-28.8,75.6,-17.6C70.2,-6.4,61.6,3.4,53.8,12.4C46,21.4,39,29.6,30.6,36.4C22.2,43.2,12.4,48.6,1.8,50.8C-8.8,53,-19.4,52,-29.6,48.4C-39.8,44.8,-49.6,38.6,-57.8,30.2C-66,21.8,-72.6,11.2,-75.4,-0.6C-78.2,-12.4,-77.2,-25.4,-72.6,-37.4C-68,-49.4,-59.8,-60.4,-49.4,-68.6C-39,-76.8,-26.4,-82.2,-13.4,-83.8C-0.4,-85.4,12.8,-83.2,26.4,-77.4C40,-71.6,54,-62.2,62.8,-50.2C71.6,-38.2,75.2,-23.6,75.4,-9.2C75.6,5.2,72.4,19.4,65.8,32.2C59.2,45,49.2,56.4,37.6,65.2C26,74,12.8,80.2,-1.2,82.4C-15.2,84.6,-30.4,82.8,-43.8,76.8C-57.2,70.8,-68.8,60.6,-76.2,47.8C-83.6,35,-86.8,19.6,-85.4,4.8C-84,-10,-78,-24.2,-69.4,-36.8C-60.8,-49.4,-49.6,-60.4,-36.8,-68.2C-24,-76,-9.6,-80.6,3.2,-79.8C16,-79,28.4,-73,38.8,-64.4C49.2,-55.8,57.6,-44.6,62.4,-32.2C67.2,-19.8,68.4,-6.2,66.2,6.4C64,19,58.4,30.6,50.4,40.8C42.4,51,31.8,59.8,19.8,66.2C7.8,72.6,-5.6,76.6,-18.4,77.4C-31.2,78.2,-43.4,75.8,-54.6,70.2C-65.8,64.6,-76,55.8,-82.6,44.6C-89.2,33.4,-92.2,19.8,-91,-0.4C-89.8,-20.6,-84.4,-47.4,-74.6,-61.8C-64.8,-76.2,-50.6,-78.2,-36.8,-76.8C-23,-75.4,-9.6,-70.6,3.2,-69.8C16,-69,28.4,-72.2,39.2,-71.8C50,-71.4,59.2,-67.4,66.6,-60.6C74,-53.8,79.6,-44.2,81.4,-33.4C83.2,-22.6,81.2,-10.6,76.8,0.2C72.4,11,65.6,20.6,57.2,29C48.8,37.4,38.8,44.6,27.8,50.2C16.8,55.8,4.8,59.8,-7.8,61.4C-20.4,63,-33.6,62.2,-45.4,57.8C-57.2,53.4,-67.6,45.4,-74.8,35C-82,24.6,-86,12.8,-86.2,0.6C-86.4,-11.6,-82.8,-24.2,-76.2,-35.4C-69.6,-46.6,-60,-56.4,-48.6,-63.8C-37.2,-71.2,-24,-76.2,-10.4,-77.8C3.2,-79.4,16.8,-77.6,30.6,-72.8"
    />
  </svg>
</div>

<style>
  .blob-decoration {
    width: var(--blob-size);
    height: var(--blob-size);
    color: var(--blob-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blob-decoration svg {
    width: 100%;
    height: 100%;
  }

  .blob-decoration--animated {
    animation: blob-morph 8s ease-in-out infinite;
  }

  @keyframes blob-morph {
    0%, 100% {
      transform: scale(1) rotate(0deg);
    }
    33% {
      transform: scale(1.05) rotate(5deg);
    }
    66% {
      transform: scale(0.95) rotate(-5deg);
    }
  }
</style>
