---
/**
 * Definiert die Eigenschaften für die Link-Komponente.
 */
interface Props {
    /** Die URL, zu der der Link führt. */
    href: string;
    /** Das Ziel des Links, z.B. '_blank' für einen neuen Tab. */
    ziel?: string;
}

const { href, ziel } = Astro.props;
---

<a href={href} target={ziel}><slot /></a>
