---
/**
 * Definiert die Eigenschaften für die H2-Überschrift-Komponente.
 */
interface Props {
    /** Der Textinhalt der Überschrift. */
    inhalt: string;
}

const { inhalt } = Astro.props;
---

<h2>{inhalt}</h2>
