---
/**
 * Definiert die Eigenschaften für die H1-Überschrift-Komponente.
 */
interface Props {
    /** Der Textinhalt der Überschrift. */
    inhalt: string;
}

const { inhalt } = Astro.props;
---

<h1>{inhalt}</h1>
