---
import Link from '../atoms/Link.astro';

/**
 * Definiert die Eigenschaften für die BlogpostVorschau-Komponente.
 */
interface Props {
    /** Der Titel des Blogposts. */
    titel: string;
    /** Die URL zum vollständigen Blogpost. */
    url: string;
}

const { titel, url } = Astro.props;
---

<li><Link href={url}>{titel}</Link></li>