---
interface Props {
    /** Ein Emoji oder String, der das soziale Netzwerk repräsentiert. */
    icon: string;
    /** Die URL zum Social Media Profil. */
    href: string;
    /** Der sichtbare Text des Links, z.B. der Name des Netzwerks oder Benutzername. */
    text: string;
}

const { icon, href, text } = Astro.props;
---

<p>
    {icon} <a href={href}>{text}</a>
</p>