---
import { getEntry, getCollection } from 'astro:content';
import Ueberschrift1 from '../atoms/Ueberschrift1.astro';

const introEntry = await getEntry('sections', 'intro');

if (!introEntry) {
  const allSections = await getCollection('sections');
  const slugs = allSections.map(s => s.slug).join(', ');
  throw new Error(`Intro section not found. Available sections: [${slugs}]`);
}

const { Content } = await introEntry.render();
---

<section>
    <Ueberschrift1>{introEntry.data.titel}</Ueberschrift1>
    <Content />
</section>