---
import Ueberschrift1 from '../atoms/Ueberschrift1.astro';
import Absatz from '../atoms/Absatz.astro';
---

<section>
    <Ueberschrift1 inhalt="Hi, ich bin Jacqueline Franz" />
    <Absatz inhalt="Online auch als @digitalerPanda ðŸ¼ bekannt" />
    <Absatz inhalt="Ich teile meinen Lernprozess und helfe anderen, ihre digitalen Ideen umzusetzen." />
</section>
