---
import Ueberschrift2 from '../atoms/Ueberschrift2.astro';
import EmailLink from '../molecules/EmailLink.astro';
import SocialMediaLink from '../molecules/SocialMediaLink.astro';
---

<section>
    <Ueberschrift2 inhalt="Kontakt" />
    <EmailLink email="hi@jacquelinefranz.de" />
    <SocialMediaLink icon="ðŸ¦" href="https://twitter.com/digitalerPanda" text="X/Twitter: @digitalerPanda" />
    <SocialMediaLink icon="ðŸ’¼" href="https://www.linkedin.com/in/jacqueline-franz/" text="LinkedIn: Jacqueline Franz" />
</section>
