---
import Ueberschrift2 from '../atoms/Ueberschrift2.astro';
import EmailLink from '../molecules/EmailLink.astro';

interface Props {
    email: string;
}

const { email } = Astro.props;
---

<section>
    <Ueberschrift2>Kontakt</Ueberschrift2>
    <EmailLink email={email} />
    <slot />
</section>