---
import Ueberschrift2 from '../atoms/Ueberschrift2.astro';
import BlogpostVorschau from '../molecules/BlogpostVorschau.astro';
import { getCollection } from 'astro:content';

interface Props {
  sectionTitle?: string;
}

const { sectionTitle = "Neueste Blogposts" } = Astro.props;

const allBlogPosts = await getCollection('blog');
allBlogPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const latestBlogPosts = allBlogPosts.slice(0, 3);
---

<section>
    <Ueberschrift2>{sectionTitle}</Ueberschrift2>
    <ul>
        {latestBlogPosts.map(post => (
            <BlogpostVorschau titel={post.data.title} url={`/blog/${post.slug}`} />
        ))}
    </ul>
</section>