---
import Ueberschrift2 from '../atoms/Ueberschrift2.astro';
import Absatz from '../atoms/Absatz.astro';
---

<section>
    <Ueberschrift2 inhalt="Über mich" />
    <Absatz inhalt="Ich bin Jacqueline, eine leidenschaftliche App-Entwicklerin. Mein Fokus liegt darauf, meinen Lernweg transparent zu machen und andere dazu zu inspirieren, ihre eigenen Projekte zu starten." />
    <Absatz inhalt="Ich bin Amateurin im besten Sinne – stets bereit, Neues auszuprobieren und Erkenntnisse zu teilen, ohne Angst vor dem Unbekannten." />
</section>
