---
import { getEntry } from 'astro:content';
import Ueberschrift2 from '../atoms/Ueberschrift2.astro';

const ueberMichEntry = await getEntry('sections', 'ueber-mich');

if (!ueberMichEntry) {
  throw new Error("Ueber Mich section not found");
}

const { Content } = await ueberMichEntry.render();
---

<section>
    <Ueberschrift2>{ueberMichEntry.data.titel}</Ueberschrift2>
    <Content />
</section>